*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section Start */

.banner-section{
    height:100vh;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
}
.banner-section .banner-details{
    text-align: right;
}
.banner-section .banner-details{
    width: 1600px;
    padding-top: 250px;
    padding-bottom: 166px;
}
.banner-section .banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}
.banner-details .banner-sub-title{
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner-details .banner-btn{
    background-color: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 25px 25px;
    font-weight: 600;
    font-size: 26px;
}

/* Banner Section End */


/* Hero Section Start */

.hero-section-content{
    width: 1600px;
    margin: auto;
    display: flex;
    margin-bottom: 150px;
}
.hero-section-content{
    margin-top: 130px;
}
.hero-section .hero-section-img{
    margin-left: 100px;
}
.hero-section-content .hero-section-text{
    margin-top: 240px;
    margin-left: 200px;
}
.hero-section-content .hero-section-title{
    font-size: 50px;
    font-weight: 700;
}
.hero-section-content .hero-section-sub-title{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
}

.hero-section-content ul li{
    list-style: none;
    font-size: 20px;
    padding-bottom: 15px;
}
.hero-section-content ul li i{
    color: aquamarine;
    font-weight: bold;
    font-size: 20px;
}
/* Hero Section End */